.search {
  width: 100vw;
  height: 9vh;
  background-color: black;
  display: flex;
  flex-direction: row;
}
.search > input {
  width: 50%;
  height: 20px;
  margin-top: 10px;
  margin-left: 6vw;
}
.search > button {
  width: 50px;
  height: 27px;
  margin-top: 10px;
  background-color: burlywood;
  border: none;
  color: rgb(116, 95, 69);
  font-weight: 600;
}
.wrapper {
  max-width: 70rem;
  margin: 4rem auto;
  display: grid;
  grid-gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 400px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: 500px;
  height: 700px;
}
img {
  position: absolute;
  width: 180px;
  height: 280px;
}
.description {
  display: flex;
  flex-direction: column;

  margin-left: 14vw;
  
}
h4{
  object-fit: content;
}
